<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Company Listing</h2>
</div>

<table class="table table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody *ngIf="companies$ | async as companies; else loading">
    <tr *ngFor="let company of companies; let i = index" [ngClass]="i % 2 === 0 ? 'table-primary' : 'table-secondary'">
      <td>{{company.id}}</td>
      <td>{{company.name}}</td>
      <td>{{company.address}}</td>
    </tr>
  </tbody>
</table>

<ng-template #loading>
  <p>Loading employees...</p>
</ng-template>